.CoinForm {
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
}

.actions {
    margin-top: 16px;
}

.actions button {
    margin-right: 8px;
}

.Result {
    margin-top: 10px;
}

.Result .title {
    font-weight: bold;
}

.Result .line {
    display: flex;
    align-items: center;
}

.Result span {
    margin-right: 8px;
}

