.CoinForm {
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
}

.actions {
    margin-top: 16px;
}

.actions button {
    margin-right: 8px;
}

.output {

}

.outputAction {
    margin-top: 10px;
}

.subtitle {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.text {
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
}