* {
    --font-size-title: 32px;
    --font-size-text: 16px;
    --font-size-desciption: 14px;
}

body {
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    font-size: var(--font-size-text);
}

.article {
    margin: 20px auto;
    max-width: 300px;
}

.article .title {
    margin: 0 0 3px 0;
}

.article .description {
    margin: 0 0 10px 0;
    font-size: var(--font-size-desciption);
}